#root {
  height: 100%;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
  }
  .wrap {
    display: flex;
    justify-content: center;
  }
  .title {
    margin-bottom: 40px;
    font-size: 72px;
    header {
      font-family: "JalnanOTF";
    }
  }
  .subtitle {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .project {
    font-weight: 700;
    margin-bottom: 40px;
    border: none;
    a {
      &:hover {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        transition-duration: 1.5s;
        transform: scale(1.1);
      }
    }
  }
  .mail {
    margin: 14px 0;
    font-size: 20px;
  }
  .icon {
    padding: 0 70px;
  }
  .blog {
    font-weight: 600;
  }
  a {
    // margin-right: 40px;
    color: #aaa;
    font-size: 40px;
  }

  @-webkit-keyframes show-info {
    0% {
      -webkit-transform: rotateY(120deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
    }
  }

  @-moz-keyframes show-info {
    0% {
      -moz-transform: rotateY(120deg);
    }
    100% {
      -moz-transform: rotateY(0deg);
    }
  }

  @-ms-keyframes show-info {
    0% {
      -ms-transform: rotateY(120deg);
    }
    100% {
      -ms-transform: rotateY(0deg);
    }
  }

  @-o-keyframes show-info {
    0% {
      -o-transform: rotateY(120deg);
    }
    100% {
      -o-transform: rotateY(0deg);
    }
  }

  @keyframes show-info {
    0% {
      transform: rotateY(120deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
}

@media screen and (max-width: 760px) {
  .home {
    .title {
      margin-bottom: 40px;
      font-size: 42px;
    }
    .subtitle {
      margin-bottom: 40px;
      font-size: 20px;
    }
    .mail {
      margin: 12px 0;
      font-size: 20px;
    }
    .icon {
      padding: 0 30px;
    }
    a {
      color: #aaa;
      font-size: 20px;
    }
  }
}
