.team_every {
  color: #ffffff;
  .head {
    display: flex;
    justify-content: flex-end;
    padding: 140px 130px 0;
    margin-bottom: 100px;
  }
  .subtitle {
    padding-left: 30%;
    font-size: 18px;
    text-align: left;
  }
  header {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
  }
  .img_container {
    padding: 0 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img1 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img2 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img3 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img4 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img5 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img6 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img7 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
    .img8 {
      padding-bottom: 80px;
      img {
        width: 100%;
      }
    }
  }
  .skills {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
  }
}
@media only screen and (max-width: 1280px) {
  .team_every {
    .subtitle {
      padding-left: 16%;
      font-size: 18px;
      // text-align: left;
    }
  }
}
@media only screen and (max-width: 960px) {
  .team_every {
    .head {
      padding: 140px 40px 0;
    }
    .subtitle {
      padding-left: 12%;
      font-size: 18px;
      // text-align: left;
    }
  }
}
@media only screen and (max-width: 760px) {
  .team_every {
    .head {
      display: flex;
      flex-direction: column;
      font-size: 22px;
    }
    .subtitle {
      padding: 0;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
    }
    .skills {
      padding: 0 6%;
      font-size: 14px;
    }
  }
}
